
<!DOCTYPE html>
<html lang="en">
<head>
    <title>HUTECH | SINH VIEN</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link href="~/Content/TemplateLoginLayout/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/TemplateLoginLayout/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/TemplateLoginLayout/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/TemplateLoginLayout/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/TemplateLoginLayout/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/TemplateLoginLayout/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/TemplateLoginLayout/vendor/select2/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/TemplateLoginLayout/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/TemplateLoginLayout/css/main.css" rel="stylesheet" />
    <link href="~/Content/TemplateLoginLayout/css/util.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>
    @RenderBody()



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Content/TemplateLoginLayout/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/TemplateLoginLayout/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/TemplateLoginLayout/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/TemplateLoginLayout/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/TemplateLoginLayout/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/TemplateLoginLayout/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/TemplateLoginLayout/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/TemplateLoginLayout/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/TemplateLoginLayout/js/main.js"></script>

</body>
</html>