<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*Chèn link css dowload của template*@
    <link href="~/Content/LayoutNguoidung/fonts.css" rel="stylesheet" />
    <link href="~/Content/LayoutNguoidung/screen.css" rel="stylesheet" />
    @*Chèn link css tự tạo*@
    <link href="~/Content/LayoutNguoidung/NguoiDungCssLayOut.css" rel="stylesheet" />
    <link href="~/Content/LayoutNguoidung/TrangChuCss.css" rel="stylesheet" />
    @*Chèn link css font ký tự*@
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    @*Chèn link css,js trong thư mục NivoSlider (ảnh chuyển động)*@
    <link href="~/NivoSlider/nivo-slider.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.pack.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <style>
        #NoiDung {
            background-image: url('../../Content/TemplateAdmin/img/bg-login.jpg');
            margin-bottom: -25px;
        }
    </style>
</head>
<body>

    <div id="ToanTrang">
        @*<section class="blank">*@
        
            <div class="flash">
                <div class="icDienThoai">
                    <div>
                        <img src="http://erp1.hutech.edu.vn/assets/png/logo.png" style="margin-top:15px;width:248px;height:61.25px" />
                    </div>
                </div>
                <div class="doitac">
                    <img src="~/images/doi-tac-hutech.jpg" style="margin-right:15px;margin-top:10px;width:200px;height:100px" />
                </div>
                <div id="map">
                </div>
            </div>

        <hr />
        @Html.Action("Chucnang","Login")
        
        @*code nivo slider*@
        @Html.Action("AnhTrangChu","TrangChu")
        <div style="clear:both">
        </div>
        <div id="NoiDung">
            @RenderBody()
        </div>


        <div style="clear:both">
        </div>
        @*div nhà xuất bản*@
        <section style="background-color:#2968C1" class="blank items">
            <div style="margin-left:30px;margin-bottom:20px;margin-top:20px">
                <h2 class="footer-heading mb-3"></h2>
                <small  style="color:white;font-weight:400" class="mb-5">
                    Trụ sở: 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM
                    <br />  Cơ sở 475B: 475B Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM
                    <br />  Cơ sở Ung Văn Khiêm: 31/36 Ung Văn Khiêm, P.25, Q.Bình Thạnh, TP.HCM
                    <br />ĐT: (028) 5445 7777 - Fax: (028) 5445 4444
                    <br />Email: hutech@hutech.edu.vn
                    
                </small>
                <br />
            </div>
        </section>
    </div>
    @*code scripts chạy nivo slider*@
    @*<script type="text/javascript">
        $(window).load(function() {
            $('#slider').nivoSlider({
                controlNav: false,
                prevText: '',
                nextText:'',
            });
        });
    </script>*@
    @*<script>
        $(document).ready(function () {
            $(".navMenu li").hover(function () {
                $(this).find("ul:first").slideDown(500);
            }, function () {
                $(this).find("ul:first").hide(300);
            });
        });
    </script>*@

</body>
</html>

