@model DATH.Models.Rel_CV_Q

@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Views/LayOut/QuantriLayout.cshtml";
}

<h2>Thêm phân quyền</h2>
<p style="font-size:11px">Quản lý phân quyền/Thêm mới</p>

@using (Html.BeginForm())
{
    <div>
        <p><b>Tên chức vụ</b></p>
        @*<p>@Html.EditorFor(model => model.IdChucVu, new { htmlAttributes = new { @class = "form-control" } })</p>*@
        @Html.DropDownList("IdChucVu")
    </div>

    <div style="margin-top:10px">
        <p><b>Tên quyền</b></p>
        @*<p>@Html.EditorFor(model => model.IdQuyen, new { htmlAttributes = new { @class = "form-control" } })</p>*@
        @Html.DropDownList("IdQuyen")
    </div>

    <div style="margin-top:10px">
        <input id="btntao" type="submit" value="Tạo"/>
    </div>
}

<style>
    #btntao:hover{
        background-color:#0094ff;
    }
</style>
