@model IEnumerable<IGrouping<int?, DATH.Models.Rel_CV_Q>>

@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/LayOut/QuantriLayout.cshtml";
}

<h2>Quản lý phân quyền</h2>

<!-- Exportable Table -->
<div class="row clearfix" style="margin-top:30px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2></h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table id="table_id" class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>
                                    STT
                                </th>
                                <th>Tên quyền</th>
                                @foreach (var chucvu in Model.SelectMany(c => c).Select(c => c.ChucVu).Distinct().OrderBy(c => c.TenChucVu))
                                {
                                    <th>@chucvu.TenChucVu</th>
                                }
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    STT
                                </th>
                                <th>Tên quyền</th>
                                @foreach (var chucvu in Model.SelectMany(c => c).Select(c => c.ChucVu).Distinct().OrderBy(c => c.TenChucVu))
                                {
                                    <th>@chucvu.TenChucVu</th>
                                }
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var quyen in Model)
                            {
                                int idQuyen = quyen.FirstOrDefault().IdQuyen ?? 0;
                              
                                <tr>
                                    <td></td>
                                    <td>
                                        @Html.Raw((quyen.FirstOrDefault() == null) ? "Không tìm thấy" : quyen.FirstOrDefault().Quyen.TenQuyen)

                                    </td>
                                    @foreach (var chucvu in Model.SelectMany(c => c).Select(c => c.ChucVu).Distinct().OrderBy(c => c.TenChucVu))
                                    {
                                        int idChucVu = chucvu.IdChucVu;
                                        <td onclick="ChinhSua(@idQuyen,@idChucVu)">@Html.CheckBox("f", quyen.Select(c => c.ChucVu.IdChucVu).Contains(chucvu.IdChucVu))</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="create-service-model1" class="modal fade create-service-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div>
                        <p>Bạn sẽ xóa phân quyền: <strong name="TENCV"></strong> - <strong name="TENQ"></strong></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" onclick="DeleteInfo()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<script>
    function ChinhSua(idQuyen, idChucVu) {
        $.ajax({
            url: '/QuanlyPhanQuyen/ChinhSuaQuyen',
            type: 'POST',
            dataType: 'text',
            data: {
                idQuyen, idChucVu
            }
        }).done(function (ketqua) {
            var json = JSON.parse(ketqua);
            if (json.Success == false) {
                alert("Không thể xử lý");
                return;
            }
            if (json.Success == true) {
                alert("Cập nhật thành công");
                return;
            }
        });
    }
    function Delete(id) {
        Idpq = id;


        //$.ajax({
        //    url: '/QuanlyPhanQuyen/GetPhanquyen/' + Idpq,
        //    type: 'POST',
        //    dataType: 'text',
        //    data: {
        //        id: Idpq,
        //    }
        //}).done(function (ketqua) {
        //    var json = JSON.parse(ketqua);
        //    $("[name='TENCV']").text(json.NAME);
        //    $("[name='TENQ']").text(json.DESCRIPTION);
        //    $('#create-service-model1').modal("show");
        //});

        //$.ajax({
        //    url: '/QuanlyPhanQuyen/DeletePhanquyen',
        //    type: 'POST',
        //    dataType: 'text',
        //    data: {
        //        IdCV_Q: Idpq
        //    }
        //}).done(function (ketqua) {
        //    if (ketqua == "ok") {
        //        alert("Xóa thành công");
        //        location.reload();
        //        return;
        //    }
        //    alert(ketqua);
        //});
    }
</script>